@model ShopViewModel;
@{
    ViewData["Title"] = "Shop";
}

<style>
    body 
    {
        color: black;
    }
</style>
<h1 class="text-danger">@Model.Message</h1>

<h1>Profile titles</h1>

<div class="card-deck">
    @foreach (var profileTitle in Model.profileTitles)
    {
        <div class="card m-3" style="min-width: 18rem; max-width: 30.5%;">
            <div class="card-header" style="display:inline;">
                <h3 style="display:inline;">@profileTitle.Name</h3>
            </div>

            <div class="card-footer text-center">
                <h3 style="display:inline; float: left;">@profileTitle.Price</h3><a style="float: right;" asp-controller="Home" asp-action="BuyItem" asp-route-id="@profileTitle.ItemID" class="btn btn-primary m-1">Buy</a>
            </div>
        </div>
    }
    @if (Model.ProfileTitlesPurchased != null)
    {
        @foreach (var profileTitle in Model.ProfileTitlesPurchased)
        {
            <div class="card m-3" style="min-width: 18rem; max-width: 30.5%;">
                <div class="card-header" style="display:inline;">
                    <h3 style="display:inline;">@profileTitle.Name</h3>
                </div>

                <div class="card-footer text-center">
                    <a style="float: right;color: white; " class="btn btn-success m-1"><span class="glyphicon glyphicon-ok">&#10003;</span></a>
                </div>
            </div>
        }
    }
</div>

<h1>Backgrounds</h1>
<div class="card-deck">
    @foreach (var background in Model.Backgrounds)
    {
        var photoPath = $"~/images/{background.Value}";

        <div class="card m-3" style="min-width: 18rem; max-width: 30.5%;">
            <div class="card-header" style="display:inline;">
                <h3 style="display:inline;">@background.Name</h3>
            </div>
            <img class="card-img-top imageThumbnail" src="@photoPath"
                 asp-append-version="true" />
            <div class="card-footer text-center">
                <h3 style="display:inline; float: left;">@background.Price</h3><a style="float: right;" asp-controller="Home" asp-action="BuyItem" asp-route-id="@background.ItemID" class="btn btn-primary m-1">Buy</a>
            </div>
        </div>
    }
    @if (Model.BackgroundsPurchased != null)
    {
        @foreach (var background in Model.BackgroundsPurchased)
        {
            var photoPath = $"~/images/{background.Value}";
            <div class="card m-3" style="min-width: 18rem; max-width: 30.5%;">
                <div class="card-header" style="display:inline;">
                    <h3 style="display:inline;">@background.Name</h3>
                </div>
                <img class="card-img-top imageThumbnail" src="@photoPath"
                     asp-append-version="true" />
                <div class="card-footer text-center">
                    <a class="btn btn-success m-1" style="float: right; color: white;"><span  class="glyphicon glyphicon-ok">&#10003;</span> </a>
                </div>
            </div>
        }
    }
</div>