@inject SignInManager<ApplicationUser> signInManager;
@inject UserManager<ApplicationUser> userManager;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <environment include="Development">
        <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous"
              asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute"
              asp-suppress-fallback-integrity="true">
        <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <environment include="Development">
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/jquery-validate/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
        <script src="~/js/CustomScript.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                crossorigin="anonymous"
                asp-fallback-src="~/lib/jquery/jquery.min.js"
                asp-fallback-test="window.jQuery"
                asp-suppress-fallback-integrity="true">
        </script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous"
                asp-fallback-src="~/lib/bootstrap/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery"
                asp-suppress-fallback-integrity="true">
        </script>

        <script src="~/js/CustomScript.js"></script>
    </environment>
    @RenderSection("Scripts", required: false)

    @RenderSection("Style", required: false)

    <style>
        .navbar-dark .navbar-nav .nav-link {
            color: rgba(255, 255, 255, 0.9);
        }

        body {
            background-color: #3d3d3d;
            color: lightgray;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark" style="font-size: 1.4rem; background-color: #702c2c; ">
        <a asp-action="Index" asp-controller="Home" class="navbar-brand">
            <img src="~/images/StalinGames.png" height="80" width="420" asp-append-version="false" />
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a asp-action="Shop" asp-controller="Home" class="nav-link">Shop</a>
                </li>
                <li class="nav-item">
                    <a asp-action="SlotMachine" asp-controller="Games" class="nav-link">Test</a>
                </li>
                @if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("SuperAdmin")))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Manage
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" asp-controller="Administration" asp-action="ListUsers">Users</a>
                        </div>
                    </li>
                }
            </ul>
            <ul class="navbar-nav ml-auto">
                @if (signInManager.IsSignedIn(User))
                {

                    var _user = await userManager.FindByNameAsync(User.Identity.Name); //neemt de ingelogde user en zet die in _user zodat ik meer dan alleen de naam kan gebruiken
                    var profilePicturePath = $"/images/{_user.ProfilePicturePath ?? "DefaultProfilePicture.jpg"}";
                    <li class="nav-item">
                        <form method="post" asp-action="PlayerDetails" asp-controller="Account" asp-route-id="@_user.Id">
                            <button type="submit" class="nav-link btn btn-link py-0" style="width:auto; font-size: 1.4rem; margin-top: 7%;">
                                @User.Identity.Name
                            </button>
                        </form>
                    </li>

                    <li class="nav-item">
                        <img src=@profilePicturePath style="border-radius: 50%; width: 2.5em; margin-right: 2em;">
                    </li>

                    <li class="nav-item">
                        <form method="post" asp-action="logout" asp-controller="Account">
                            <button type="submit" class="nav-link btn btn-link py-0" style="width:auto; font-size: 1.4rem;margin-top: 8%; ">
                                Logout
                            </button>
                        </form>
                    </li>

                }
                else
                {
                    <li class="nav-item">
                        <a asp-action="Register" asp-controller="Account" class="nav-link">Register</a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="Login" asp-controller="Account" class="nav-link">Login</a>
                    </li>
                }
                <form asp-action="PlayerSearch" asp-controller="Home" class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" name="userName" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
                </form>
            </ul>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>

    @*Put All Javascript Files below everything Good Practice*@

</body>
</html>